body #logo h1 a {
	background-size: 84% !important; 
	padding: 0;
	background-position-y: -40px !important;
	}
body #logo {
	height: 130px;
}
#menu {
	background: url(images/menu_bg.png) repeat-y top left;
	background-origin: content-box;
}
#navbar {
	
	margin: -24px 0 0px 15px;
}
#hide_menu {
background: url(images/menu_tip.png) no-repeat top left;
margin:  0 10px 0 10px;

}
#main_wrap {
	background: url(images/bg-pattern-light.jpg) repeat top left;
	margin: 0;
	float: left;
	left: 260px;
	position: relative;
	box-shadow: 0 0 7px rgb(0, 0, 0);
}
#main {
	padding: 0 20px 5px 20px;
}
#hide_menu a {
	top: -22px;
	left: 10px;
}
.menu_tooltip {
width: 140px;
height: 30px;
padding: 17px 15px 0 25px;
background: url(images/tooltip.png) no-repeat center center;
position: absolute;
top: -20px;
left: 40px;

}

#navbar li:first-child {
border-top: 1px solid #ccc;
}
#navbar li {
height: 19px;
padding: 5px 10px 5px;
border-bottom: 1px solid #ccc;
}

/* sub menus */
body #navbar li ul{
	background: url(images/bg-pattern-light.jpg) repeat top left !important;
	border: 0px solid #fff !important;
	box-shadow: 0px 0 4px rgb(0,0,0);
	}
body #navbar li ul li{
	border-color: #ccc;
}

body #footer_columns div li a:hover {
background: rgba(200,200,200,.5) !important;

}

/* ================== Fonts & Text Colors ================ */
body #navbar li.current-menu-item a, #navbar li.current-menu-ancestor > a, #navbar li.current-menu-parent > a, body #navbar li.current-menu-item a, body #navbar li.current-menu-ancestor > a, body #navbar li.current-menu-parent > a{
	color:  #04073c !important;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
color: #04073c !important;
}

body #wrapper, body #content .post p, body #content p {
color: #777 !important;
}

body #footer_columns div li a, body #footer_copyright a, body .post a.read_more, body #pagination a, body #comment_form a, body #sidebar ul li a, body .post .metadata a, body .comment a.comment_author, body #content a, body #sidebar a {
	color: #aaa !important;
}
body #footer_columns div li a:hover, body #footer_copyright a:hover, body a:hover, body .post a.read_more:hover, body #pagination a:hover, body #comment_form a:hover, body #sidebar ul li a:hover, body .post .metadata a:hover, body #content a:hover, body #sidebar a:hover {
	color: #04073c !important;
}