/* GLOBALS
----------------------------------------------- */
/* GLOBAL */
.frame {
  background: #ffffff;
  border-color: #e3e3e3;
}
body {
  color: #414141;
}
/* LINKS */
a {
  color: #008080;
}
a:hover,
a:focus {
  color: #008080;
}
/* TABLES */
table {
  background: #ffffff;
  border-color: #e3e3e3;
}
table thead,
table tfoot {
  background: #f7f7f7;
}
table tbody tr td {
  color: #414141;
}
table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
table tfoot tr td {
  color: #414141;
}
/* TYPOGRAPHY
----------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  color: #414141;
}
blockquote {
  border-color: #e3e3e3;
  color: #414141;
}
blockquote:before {
  color: #cccccc;
}
blockquote p {
  color: #414141;
}
blockquote cite {
  color: #222222;
}
blockquote a,
blockquote a:visited {
  color: #414141;
}
pre,
code {
  color: #222222;
}
pre {
  border-color: #e3e3e3;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, #ffffff), color-stop(0.5, transparent), to(transparent));
  background-image: -moz-linear-gradient(#ffffff 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(#ffffff 50%, transparent 50%, transparent);
  background-image: linear-gradient(#ffffff 50%, transparent 50%, transparent);
}
hr {
  border-top-color: #e3e3e3;
}
abbr,
acronym {
  color: #414141;
  border-color: #222222;
}
mark,
.highlight {
  background: #FDFFC9;
}
/* UI
----------------------------------------------- */
/* BUTTONS */
.button {
  color: #ffffff;
  background-color: #008080;
}
.button:hover {
  color: #ffffff;
  background-color: #3d7667;
}
/* LABELS */
.label {
  color: #ffffff;
  background-color: #008080;
}
/* ALERTS */
div.alert-box {
  color: #222222;
  border-color: #e3e3e3;
  background-color: #f7f7f7;
}
div.alert-box .close {
  color: #222222;
}
.alert-box.success {
  border-color: #d0eeac;
  background-color: #f1f9ea;
}
.alert-box.warning {
  border-color: #efebbc;
  background-color: #fcfbe4;
}
.alert-box.error {
  border-color: #fddcdc;
  background-color: #fff7f7;
}
/* PANELS */
div.panel {
  border-color: #e3e3e3;
  background-color: #e3e3e3;
}
/* MICROFORMATS */
ul.vcard {
  border-color: #e3e3e3;
  background: #ffffff;
}
ul.vcard li.fn {
  border-color: #e3e3e3;
  background: #f7f7f7;
}
/* TOOLTIPS */
.has-tip {
  color: #222222;
  border-color: #414141;
}
.has-tip:hover {
  color: #050505;
  border-color: #050505;
}
/* DROPDOWN */
.dropdown dt {
  background: #ffffff;
}
.dropdown dt a {
  border-color: #e3e3e3;
  color: #222222;
}
.dropdown dt a:after {
  border-left-color: #e3e3e3;
}
.dropdown dt a:hover {
  border-color: #cccccc;
}
.dropdown dd ul {
  border-color: #e3e3e3;
  background: #f7f7f7;
}
.dropdown dd ul a {
  color: #414141;
}
.dropdown dd ul a:hover {
  color: #222222;
  background-color: #f7f7f7;
}
/* FORMS
----------------------------------------------- */
label {
  color: #222222;
}
input,
textarea,
button {
  margin-bottom: 15px;
  color: #414141;
  border-color: #e3e3e3;
  background: #ffffff;
}
input:focus,
textarea:focus,
button:focus {
  color: #222222;
}
button,
#submit,
input[type="submit"] {
  color: #ffffff;
  background: #008080;
}
/* HEADER
----------------------------------------------- */
#branding {
  color: #555555;
  border-bottom-color: #555555;
  background-color: #222222;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
#branding a {
  color: #ffffff;
}
#site-title a {
  color: #222222;
}
#site-description {
  color: #222222;
}
#top-search {
  background-color: #555555;
}
#top-search .search-input:focus {
  color: #222222;
}
#top-search .search-submit {
  color: #999;
  background: #ffffff;
}
#top-search .search-submit:hover {
  color: #414141;
  background: #f7f7f7;
}
/* NAVIGATION */
#primary-nav {
  /* MOBILE SELECT MENU */

}
#primary-nav ul {
  border-left-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(0, 0, 0, 0.2);
}
#primary-nav ul ul {
  border-top-color: #008080;
  background-color: #050505;
}
#primary-nav ul ul ul {
  color: #008080;
  border-left-color: #008080;
}
#primary-nav li {
  border-bottom-color: #555555;
}
#primary-nav li:hover {
  border-bottom-color: #008080;
  background-color: #050505;
}
#primary-nav li:hover a {
  color: #ffffff;
}
#primary-nav li:hover li a {
  color: rgba(255, 255, 255, 0.75);
}
#primary-nav li:hover li a:hover {
  color: #ffffff;
}
#primary-nav li a {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.75);
  border-left-color: #008080;
  border-left-color: rgba(0, 0, 0, 0.2);
  border-right-color: #050505;
  border-right-color: rgba(255, 255, 255, 0.1);
}
#primary-nav li a:hover {
  color: #ffffff;
}
#primary-nav li .current-menu-item,
#primary-nav li .current-menu-ancestor {
  border: none;
  background-bottom-color: #050505;
}
#primary-nav li .current-menu-item a,
#primary-nav li .current-menu-ancestor a {
  color: #ffffff;
}
#primary-nav .current-menu-item,
#primary-nav .current-menu-ancestor {
  border-color: #008080;
}
#primary-nav .select {
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #050505;
}
/* ENTRY
----------------------------------------------- */
.audio-gallery .entry-media,
.format-audio .entry-media,
.format-gallery .flexslider.slider img,
.format-gallery .flexslider.carousel,
.format-video iframe,
.format-video object,
.format-video embed,
.format-image img {
  background-color: #f7f7f7;
}
.entry-subheader {
  border-bottom-color: #f7f7f7;
}
.subheader,
.entry-subheader {
  color: #222222;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
}
.subheader a,
.entry-subheader a {
  font-weight: normal;
}
.entry-title {
  color: #222222;
}
.entry-title a {
  color: #222222;
}
.entry-title a:hover {
  color: #000000;
}
.entry-content {
  background: #ffffff;
}
.entry-content ul.tabs {
  border-bottom-color: #e3e3e3;
}
.entry-content ul.tabs li a {
  color: #777777;
}
.entry-content ul.tabs li a:hover {
  color: #414141;
}
.entry-content ul.tabs li a.active {
  color: #222222;
  border-bottom-color: #3d7667;
}
.section-meta .tabs {
  background: #f7f7f7;
}
.section-meta .tabs a {
  color: #777777;
  border-top-color: #f7f7f7;
}
.section-meta .tabs a:hover {
  color: #222222;
}
.section-meta .tabs a.active {
  background: #ffffff;
  border-top-color: #008080;
}
.section-meta .tabs a.active span.meta-title {
  color: #222222;
}
.section-meta .tabs a span.meta-title {
  color: #222222;
}
.section-meta .tabs-content {
  background: #ffffff;
}
ul.entry-sharing a {
  color: #222222;
  border-color: #e3e3e3;
  background-color: #f7f7f7;
}
ul.entry-sharing a:hover {
  color: #ffffff;
}
ul.entry-sharing .twitter:hover a {
  border-color: #00799e;
  background-color: #00a0d1;
}
ul.entry-sharing .google:hover a {
  border-color: #be3323;
  background-color: #db4a39;
}
ul.entry-sharing .facebook:hover a {
  border-color: #2d4373;
  background-color: #3b5998;
}
.post-edit-link {
  color: #222222;
  border-color: #e3e3e3;
  background-color: #f7f7f7;
}
.post-edit-link:hover {
  color: #222222;
}
/* ARCHIVE PAGES */
h1.archive-title {
  border-bottom-color: #e3e3e3;
}
h1.archive-title em {
  color: #222222;
  background: #f7f7f7;
}
.archive.tag h1.archive-title em,
.archive.category h1.archive-title em {
  border-color: #e3e3e3;
}
.archive.tag .archive-list,
.archive.category .archive-list {
  background: #f7f7f7;
  border-color: #e3e3e3;
}
/* GALLERY */
.wp-caption-text,
.gallery-caption {
  color: #cccccc;
}
/* SLIDESHOW */
.flexslider.slider .flex-direction-nav,
.flexslider.carousel .flex-direction-nav a {
  background-color: #f7f7f7;
  border-color: #e3e3e3;
}
.flexslider .flex-direction-nav a,
.flexslider .flex-pauseplay a {
  color: #222222;
}
.flexslider .flex-direction-nav a:hover,
.flexslider .flex-pauseplay a:hover {
  color: #050505;
}
/* AUDIO (JPLAYER) */
.jp-playlist-view.active {
  color: #050505;
}
ul.tracks li.playable .jp-playlist-item:hover {
  color: #222222;
}
ul.tracks li.unplayable .jp-playlist-item {
  color: #777777;
}
ul.tracks li:first-child .jp-playlist-item {
  border-top: none;
}
ul.tracks .jp-playlist-item {
  border-bottom-color: #ffffff;
  color: #414141;
}
ul.tracks .jp-playlist-current {
  color: #222222;
}
ul.tracks .jp-playlist-current .jp-artist {
  color: #222222;
}
ul.tracks .jp-artist {
  color: #777777;
}
.jp-audio.playing .jp-playlist-current {
  background-color: #ffffff;
}
.jp-interface {
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
}
.jp-interface a {
  color: #222222;
}
.jp-interface a:hover {
  color: #050505;
}
.jp-pause:hover span {
  background-color: #050505;
}
.jp-pause span {
  background-color: #222222;
}
.jp-now-playing .jp-current-track {
  color: #050505;
}
.jp-now-playing .jp-current-artist,
.jp-now-playing .jp-current-album {
  color: #777777;
}
.animate-spin .jp-current-artwork:after {
  color: #f7f7f7;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
}
.jp-progress {
  background-color: #cccccc;
}
.jp-seek-bar {
  background-color: #ffffff;
}
.jp-play-bar {
  background-color: #008080;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
.jp-current-time-wrap {
  color: #ffffff;
}
.jp-current-time-wrap:after {
  color: #222222;
}
.jp-current-time {
  background-color: #222222;
}
/* COMMENTS */
.comment-title,
.pingback-title,
#reply-title {
  color: #222222;
}
.seperation-border {
  border-bottom-color: #e3e3e3;
  margin-bottom: 20px;
}
.children .comment-meta:before {
  color: #414141;
}
#comments a {
  color: #222222;
}
#comments a:hover {
  color: #050505;
}
#comments .leave-comment-link {
  color: #222222;
}
#comments .comment {
  background: #ffffff;
}
#comments .comment.bypostauthor {
  text-shadow: 0 1px 1px #ffffff;
  background: #f7f7f7;
}
#comments .comment-number {
  background-color: #ffffff;
  border-color: #e3e3e3 #ffffff #e3e3e3 #e3e3e3;
}
#comments .comment-meta {
  color: #777777;
}
#comments .comment-meta:before {
  color: #777777;
}
#comments .comment-meta a {
  color: #777777;
}
#comments .comment-meta a:hover {
  color: #222222;
}
#comments .comment-meta .comment-author-name {
  color: #222222;
}
#comments .comment-meta .comment-author-name a {
  color: #008080;
}
#comments .comment-meta .comment-author-name a:hover {
  color: #3d7667;
}
#comments .comment-moderation {
  color: #414141;
}
#comments .comment-pagination a {
  color: #414141;
}
#comments .comment-pagination a:hover {
  color: #222222;
}
#comments .comment-pagination .current,
#comments .comment-pagination .total {
  color: #222222;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label {
  border-right-color: #e3e3e3;
}
#respond .comment-form-author .field-note,
#respond .comment-form-email .field-note,
#respond .comment-form-url .field-note {
  color: #cccccc;
}
#respond input[type="text"],
#respond textarea {
  color: #666;
}
#respond input[type="text"] {
  border-bottom-color: #e3e3e3;
}
#respond input[type="text"]:focus {
  border-bottom-color: #cccccc;
}
#respond input[type="text"]:focus + .field-note {
  color: #414141;
}
#respond textarea {
  border-top-color: #e3e3e3;
  border-bottom-color: #e3e3e3;
}
#respond textarea:focus {
  border-top-color: #cccccc;
  border-bottom-color: #cccccc;
}
#respond .comments-rss a {
  color: #222222;
}
/* META
----------------------------------------------- */
.posted-in,
.posted-on {
  color: #777777;
}
.posted-on a {
  color: #777777;
}
.posted-on a:hover {
  color: #414141;
}
.like-it-up a:hover,
.like-it-up a.liked {
  color: #dd0017;
}
.author-meta .sep {
  border-color: #e3e3e3;
}
.author-meta .author-links a {
  color: #777777;
}
.popular-meta li,
.related-meta li {
  border-bottom-color: #e3e3e3;
}
.popular-meta .posted-on,
.related-meta .posted-on {
  color: #999;
}
.popular-meta .posted-on a,
.related-meta .posted-on a {
  color: #777777;
}
.popular-meta .posted-on a:hover,
.related-meta .posted-on a:hover {
  color: #222222;
}
.popular-meta li:hover .rating {
  background-color: red;
}
.popular-meta .rating {
  color: #ffffff;
  background-color: #008080;
}
.related-meta li:hover .format-type {
  background-color: #777777;
}
.related-meta .format-type {
  color: #ffffff;
  background-color: #008080;
}
/* PAGINATION */
#single-navigation {
  background: #f7f7f7;
}
#single-navigation a {
  color: #414141;
}
#single-navigation a:hover {
  color: #222222;
}
.pagenavi a,
.pagenavi span {
  color: #414141;
}
.pagenavi .page-numbers {
  background-color: #ffffff;
}
.pagenavi .page-numbers:hover {
  background-color: #f7f7f7;
}
.pagenavi .dots:hover {
  color: #414141;
}
.pagenavi .current,
.pagenavi .current:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  color: #050505;
  background-color: #f7f7f7;
}
.pagelinks {
  color: #414141;
}
.pagelinks .page-numbers {
  border-color: #e3e3e3;
  background-color: #f7f7f7;
}
.pagelinks a {
  color: #414141;
  border-color: #e3e3e3;
}
.pagelinks a .page-numbers {
  color: #414141;
  border-color: #e3e3e3;
}
/* POST FORMATS
----------------------------------------------- */
.format-chat .dialogue li {
  border-bottom-color: #e3e3e3;
}
.format-chat .dialogue li:nth-child(even) {
  color: #222222;
}
.format-chat .dialogue li:last-child {
  border-bottom: none;
}
.format-status {
  text-shadow: 0 1px 1px #ffffff;
}
.format-status .entry-content {
  background-color: #f7f7f7;
}
.format-status .entry-sharing li a {
  background: #ffffff;
}
/* PAGE TEMPLATES
----------------------------------------------- */
/* SHARED */
/* Gallery & Audio */
.block.row {
  background: #ffffff;
}
#uncontained {
  background: #ffffff;
}
.page-template-template-events-php .month-year {
  border-bottom-color: #e3e3e3;
}
.page-template-template-events-php .month-year span.year {
  color: #cccccc;
}
.page-template-template-events-php .event-day {
  color: #222222;
  border-color: #e3e3e3;
  background: #f7f7f7;
}
/* WIDGETS & SHORTCODES
----------------------------------------------- */
#supplementary .widget {
  background-color: #ffffff;
}
#supplementary .widget .widget-title {
  padding-left: 0;
}
.feed .inner {
  border-color: #e3e3e3;
  background: #f7f7f7;
}
.feed .inner:hover {
  border-color: #008080;
  background: #008080;
}
.feed .inner h4 {
  color: #ffffff;
}
.feed .inner h4 a {
  color: #ffffff;
  background: none;
}
.widget-title {
  border-bottom-color: #e3e3e3;
}
/* FLICKR */
.flickr.feed a {
  border-color: #e3e3e3;
  background: #f7f7f7;
}
/* LAST.FM */
.lastfm.feed a {
  border-color: #e3e3e3;
  background: #f7f7f7;
}
/* TWITTER */
.twitter.feed .tweet {
  border-bottom-color: #e3e3e3;
}
.twitter.feed .time a {
  color: #999999;
}
/* FOOTER
----------------------------------------------- */
#footer {
  color: #414141;
}
#footer div {
  background: #ffffff;
}
#footer a {
  color: #050505;
}
#footer a:hover {
  color: #222222;
  text-shadow: none;
}
/* SHARED
----------------------------------------------- */
.black {
  background-color: #141414 !important;
}
.white,
.gray-1,
.gray-2,
.gray-3 {
  color: #414141;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.white:hover,
.gray-1:hover,
.gray-2:hover,
.gray-3:hover {
  color: #222222;
}
.white {
  background-color: #ffffff !important;
}
.gray-1 {
  background-color: #f7f7f7 !important;
}
.gray-2 {
  background-color: #e3e3e3 !important;
}
.gray-3 {
  background-color: #cccccc !important;
}
.global-1 {
  background-color: #555555;
}
.global-2 {
  background-color: #008080;
}
.global-3 {
  background-color: #222222;
}
.global-4 {
  background-color: #050505;
}
.link-1 {
  background-color: #008080;
}
.link-2 {
  background-color: #3d7667;
}
