/*      PARENT THEME     */
button, input[type="submit"] { -webkit-font-smoothing: antialiased; background-color: #405978; border-radius: 0; color: white; display: inline-block; font-size: 1em; font-weight: 600; font-family: "Avenir-Medium", Avenir-Medium, helvetica, sans-serif; line-height: 1; text-decoration: none; text-align: center; padding: 0.809em 4em; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
@media screen and (max-width: 768px) { button, input[type="submit"] { padding: 0.809em 1em; } }
button:hover, input[type="submit"]:hover { background-color: #07013D; color: white; }

body { -webkit-font-smoothing: antialiased; background-color: white; color: #405978; font-family: "Avenir-Medium", Avenir-Medium, helvetica, sans-serif; font-size: 1em; line-height: 1.5; }

h1, h2, h3, h4, h5, h6 { font-family: "Avenir-Heavy", Avenir-Heavy, helvetica, sans-serif; line-height: 1.25em; margin: 0; text-rendering: optimizeLegibility; font-weight: 400; color: #07013D; }

.subtitle, .subheading { color: #07013D; }

h1 { font-size: 2.25em; }

h2 { font-size: 2em; }

h3 { font-size: 1.75em; }

h4 { font-size: 1.5em; }

h5 { font-size: 1.25em; }

h6 { font-size: 1em; }

p { margin: 0 0 0.75em; }

a { -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #EEA500; text-decoration: none; }
a:hover { color: #a27000; }
a:active, a:focus { color: #a27000; outline: none; }

hr { border-bottom: 1px solid #ddd; border-left: none; border-right: none; border-top: none; margin: 1.5em 0; }

blockquote { font-family: "Avenir-Medium", Avenir-Medium, helvetica, sans-serif; border-left: 2px solid #ddd; color: #5c7ea8; margin: 1.5em 0; padding-left: 0.75em; }

cite { color: #7e99ba; font-style: italic; }

strong { font-family: "Avenir-Heavy", Avenir-Heavy, helvetica, sans-serif; font-weight: 400; }

fieldset { background: #f7f7f7; border: 1px solid #ddd; margin: 0 0 0.75em 0; padding: 1.5em; }

input, label, select { display: block; font-family: "Avenir-Medium", Avenir-Medium, helvetica, sans-serif; font-size: 1em; }

label { font-weight: bold; margin-bottom: 0.375em; }
label.required:after { content: "*"; }
label abbr { display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: border-color; -moz-transition: border-color; transition: border-color; background-color: white; border-radius: 0; border: 1px solid #ddd; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); font-family: "Avenir-Medium", Avenir-Medium, helvetica, sans-serif; font-size: 1em; margin-bottom: 0.75em; padding: 0.5em 0.5em; width: 100%; }
textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover { border-color: #c4c4c4; }
textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus { border-color: #EEA500; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(212, 147, 0, 0.7); outline: none; }

textarea { resize: vertical; }

input[type="search"] { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }

input[type="checkbox"], input[type="radio"] { display: inline; margin-right: 0.375em; }

input[type="file"] { margin-bottom: 0.75em; padding-bottom: 0.5em; width: 100%; }

select { width: auto; max-width: 100%; margin-bottom: 1.5em; }

table { border-collapse: collapse; margin: 0.75em 0; table-layout: fixed; width: 100%; }

th { border-bottom: 1px solid #b7b7b7; font-weight: bold; padding: 0.75em 0; text-align: left; }

td { border-bottom: 1px solid #ddd; padding: 0.75em 0; }

tr, td, th { vertical-align: middle; }

ul, ol { margin: 0; padding: 0; list-style-type: none; }
dl { margin-bottom: 0.75em; }
dl dt { font-weight: bold; margin-top: 0.75em; }
dl dd { margin: 0; }

ul.inline.padded li { padding: 1em; }
ul.inline li { display: inline-block; float: left; }

button, input[type="submit"] { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; border: none; cursor: pointer; user-select: none; vertical-align: middle; white-space: nowrap; text-transform: uppercase; margin: 0; }
button.big, input[type="submit"].big { font-size: 2em; padding: 0.4em 3em; }
button.big:after, input[type="submit"].big:after { margin: 0em -0.5em 0.2em 1em; }

.cta:after { display: inline; margin: 0; margin-left: 0.5em; }

button.cta:after { vertical-align: middle; display: inline-block; margin: 0em 1em 0.4em; }

body { margin: 0; max-width: 100%; overflow-x: hidden; }

figure { margin: 0; background: #eee; float: left; padding: .5em; }

figcaption { color: #555; }

code { background-color: #eee; background-color: rgba(0, 0, 0, 0.05); }

hr { clear: both; display: block; float: left; width: 100%; margin: 1em 0; }

img { margin: 0; max-width: 100%; height: auto; }

a img { border: none; }

sup, sub { vertical-align: baseline; position: relative; top: -0.4em; }

sub { top: 0.4em; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Classes */
.page-wrapper { clear: both; overflow: hidden; position: relative; }
@media screen and (max-width: 782px) { .page-wrapper { padding-top: 0; } }

#wpstats { display: none; }

.contact-details { text-align: center; float: left; width: 100%; font-size: 1.5em; margin-bottom: 3em; }
@media screen and (max-width: 480px) { .contact-details { font-size: 1.2em; } }
.contact-details [itemprop="telephone"] { color: #EEA500; }
.contact-details [itemprop="email"] { color: #EEA500; }
.contact-details [itemprop="address"] { display: inline; }

.dark-blue-wrapper .contact-details { color: #E0E1DD; }
.dark-blue-wrapper .contact-details span { color: #E0E1DD; }
.dark-blue-wrapper .contact-details [itemprop="telephone"] { color: #EEA500; }
.dark-blue-wrapper .contact-details [itemprop="email"] { color: #EEA500; }

.contact-form { background-color: #E0E1DD; padding: 1.5em; float: left; }
@media screen and (max-width: 480px) { .contact-form { padding: 1em .5em; } }
.contact-form h4 { text-align: center; color: #07013D !important; }
.contact-form form label { color: #767676; font-family: "Avenir-Medium", Avenir-Medium, helvetica, sans-serif; }
.contact-form form input, .contact-form form textarea { border-top-left-radius: 2px; border-top-right-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.contact-form form div { float: left; width: 50%; }
@media screen and (max-width: 480px) { .contact-form form div { width: 100%; } }
.contact-form form div:nth-child(3), .contact-form form div:nth-child(4) { width: 100%; }
.contact-form form input[type=text] { width: 95%; max-width: 100%; }
@media screen and (max-width: 480px) { .contact-form form input[type=text] { width: 100%; } }
.contact-form form div:nth-child(2) input[type=text] { width: 100%; }
.contact-form form input[type=email], .contact-form form textarea { width: 100%; max-width: 100%; }
.contact-form form input[type=submit] { text-align: center; display: inherit; margin: 0 auto; }
.contact-form form .contact-submit { float: left; text-align: center; width: 100%; }

@media screen and (max-width: 1024px) { .map { margin-bottom: 1.5em; } }

#envision_interiors_map { height: 587px; width: 100%; }

.gm-style-iw * { display: block; width: 100%; }

.gm-style-iw h4, .gm-style-iw p { margin: 0; padding: 0; }

.gm-style-iw a { color: #4272db; }

.content-row { display: block; float: left; width: 100%; }
.content-row + .content-row { margin-top: 3em; }
.content-row:last-child { margin-bottom: 3em; }

.page-content { padding: 0 0 3em 0; }

a.call-to-action { font-family: "Avenir-Heavy", Avenir-Heavy, helvetica, sans-serif; font-size: 1.5em; text-transform: uppercase; cursor: pointer; line-height: 5em; }
@media screen and (max-width: 480px) { a.call-to-action { font-size: 1.1em; } }
a.call-to-action:after { content: '\276f \276f'; display: inline; margin-left: .2em; }

footer { position: relative; padding-bottom: 1.5em; display: block; float: left; width: 100%; border-bottom: 4px solid #07013D; }
footer .triangle { position: absolute; right: 0; top: 0; background-image: url("../images/graphics/white-triangle.svg"); background-size: contain; background-repeat: no-repeat; background-position: 101% -1px; height: 35%; }
footer .triangle.medium-blue { background-image: url("../images/graphics/medium-blue-triangle.svg"); }
footer .triangle.medium-blue .contents h2 { color: white; }
footer .triangle.medium-blue .contents .subtitle { color: #E0E1DD; }
footer .triangle.dark-blue { background-image: url("../images/graphics/dark-blue-triangle.svg"); }
@media screen and (max-width: 1024px) { footer .triangle { height: 40%; } }
@media screen and (max-width: 480px) { footer .triangle { height: 50%; } }
footer .copyright { margin-left: .75em; line-height: 4; float: left; }
@media screen and (max-width: 1024px) { footer .copyright { float: right; margin-right: .75em; line-height: 3; } }
@media screen and (max-width: 480px) { footer .copyright { font-size: 12px; line-height: 2; float: left; text-align: left; margin-left: .75em; } }
footer .credit { float: right; margin-right: .75em; line-height: 4; }
@media screen and (max-width: 1024px) { footer .credit { line-height: 3; } }
@media screen and (max-width: 480px) { footer .credit { line-height: 2; float: left; text-align: left; margin-left: .75em; } }
footer .credit a { color: #07013D; font-family: "Avenir-Heavy", Avenir-Heavy, helvetica, sans-serif; }
footer .site-logo { display: block; width: 100%; height: 100%; background-image: url("../images/graphics/dark-blue-triangle.svg"); background-size: contain; background-repeat: no-repeat; background-position: 101% -10px; padding-bottom: 25%; }
footer .site-logo a.logo { display: block; min-height: 200px; max-height: 200px; width: 22%; background-image: url("../images/logo/logo.svg"); background-size: 100%; background-repeat: no-repeat; margin: 10px; margin-top: 2%; text-indent: -9000%; }
@media screen and (max-width: 1024px) { footer .site-logo a.logo { width: 35%; min-height: 100px; max-height: 100px; } }
@media screen and (max-width: 480px) { footer .site-logo a.logo { width: 45%; min-height: 60px; max-height: 60px; } }
footer .site-logo a.logo.right { float: right; margin-right: .75em; }
footer .site-logo a.logo.left { float: left; margin-left: .75em; }

.ie footer .triangle.dark-blue, .ie footer .site-logo, .ie10 footer .triangle.dark-blue, .ie10 footer .site-logo { background-image: none; }

.pre-hero { background-image: url("../images/graphics/white-triangle.svg"); background-size: contain; background-repeat: no-repeat; background-position: 101% -1px; position: absolute; display: block; padding-left: .75em; z-index: 2; width: 100%; height: 50%; }
@media screen and (max-width: 1024px) { .pre-hero { height: 45%; } }
@media screen and (max-width: 480px) { .pre-hero { height: 40%; } }
.pre-hero.medium-blue { background-image: url("../images/graphics/medium-blue-triangle.svg"); }
.pre-hero.dark-blue { background-image: url("../images/graphics/dark-blue-triangle.svg"); }

.ie10 .pre-hero, .ie .pre-hero { right: 0; width: 45%; background-image: none; }
.ie10 .pre-hero.medium-blue, .ie .pre-hero.medium-blue { background-image: none; }
.ie10 .pre-hero.dark-blue, .ie .pre-hero.dark-blue { background-image: none; }

.hero-area { position: relative; width: 100%; }
.hero-area h2 { max-width: 50%; }
.hero-area .title-area { position: absolute; bottom: 0; z-index: 2; display: block; width: 100%; height: 100%; padding-left: .75em; margin-bottom: -2px; background-image: url("../images/graphics/white-bottom-triangle.svg"); background-size: contain; background-repeat: no-repeat; background-position: -10px  bottom; height: 45%; }
.hero-area .title-area.medium-blue { background-image: url("../images/graphics/medium-blue-bottom-triangle.svg"); }
.hero-area .title-area.medium-blue .contents h2 { color: white; }
.hero-area .title-area.medium-blue .contents .subtitle { color: #E0E1DD; }
.hero-area .title-area.dark-blue { background-image: url("../images/graphics/dark-blue-bottom-triangle.svg"); }
.hero-area .title-area.dark-blue .contents h2 { color: white; }
.hero-area .title-area.dark-blue .contents .subtitle { color: #E0E1DD; }
@media screen and (max-width: 1024px) { .hero-area .title-area { height: 60%; font-size: .9em; } }
@media screen and (max-width: 480px) { .hero-area .title-area { height: 75%; font-size: .8em; } }
.hero-area .title-area .contents { position: absolute; bottom: 0; max-width: 50%; }
@media screen and (orientation: portrait) { .hero-area .title-area .contents { max-width: 45%; } }
@media screen and (max-width: 768px) { .hero-area .title-area .contents { max-width: 45%; } }
.hero-area .hero-bg { position: relative; z-index: 1; width: 100%; height: 0; padding-bottom: 60%; display: block; background-repeat: no-repeat; background-size: cover; background-position: center; }

.lead { padding-top: 4.5em; padding-bottom: 3em; font-size: 1.2em; float: left; }

#content.blur { -webkit-transition: blur 0.3s; -moz-transition: blur 0.3s; transition: blur 0.3s; -webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px); filter: blur(2px); }

#primary.nav { width: 100%; }
#primary.nav .menu-icon-wrapper { display: none; cursor: pointer; opacity: 1; font-size: 1.2em; -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; transition: opacity 0.2s; }
@media screen and (max-width: 480px) { #primary.nav .menu-icon-wrapper { font-size: 1em; } }
#primary.nav .menu-icon-wrapper:hover { opacity: .8; }
#primary.nav .menu-icon-wrapper .menu-icon { display: inline-block; cursor: pointer; height: 1.35em; width: 1.35em; background-image: url("../images/icons/menu-icon.svg"); background-position: center; background-size: contain; background-repeat: no-repeat; margin: .2em 0 .75em .75em; vertical-align: middle; line-height: 2; }
#primary.nav .menu-icon-wrapper .menu-text { text-transform: uppercase; cursor: pointer; color: #fff; font-size: 1.5em; font-family: "Avenir-Heavy", Avenir-Heavy, helvetica, sans-serif; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
@media screen and (max-width: 768px) { #primary.nav .menu-icon-wrapper { display: block; position: absolute; top: 0; left: 0; } }
#primary.nav .menu-bg { height: 0; position: fixed; background-color: rgba(32, 32, 32, 0); -webkit-transition: height 0.1s ease-out; -moz-transition: height 0.1s ease-out; transition: height 0.1s ease-out; }
#primary.nav .menu-bg.active { height: 100%; width: 100%; z-index: 1500; }
#primary.nav.top-position { position: absolute; top: 0; z-index: 1000; }
#primary.nav.top-position ul.menu-items { position: absolute; }
#primary.nav.top-position ul.menu-items .menu-item { float: left; margin: 1em; }
#primary.nav.top-position ul.menu-items .menu-item + .menu-item { margin-left: 1em; }
#primary.nav.top-position ul.menu-items .menu-item a { color: #fff; text-transform: uppercase; font-family: "Avenir-Heavy", Avenir-Heavy, helvetica, sans-serif; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
#primary.nav.top-position ul.menu-items .menu-item a:hover, #primary.nav.top-position ul.menu-items .menu-item a:active { color: #EEA500; }
@media screen and (max-width: 768px) { #primary.nav.top-position ul.menu-items { display: block; margin-right: 100%; width: 100%; z-index: 2000; padding-bottom: 1em; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
  #primary.nav.top-position ul.menu-items .menu-item { display: none; }
  #primary.nav.top-position ul.menu-items.active { margin-right: 0; background: #07013D; -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.5) ; -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.5) ; -o-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.5) ; box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.5) ; }
  #primary.nav.top-position ul.menu-items.active .menu-item { float: none; display: block; clear: both; padding: 0; text-align: center; }
  #primary.nav.top-position ul.menu-items.active .menu-item a { width: 100%; float: left; padding: 10px; text-align: center; background-color: #07013D; }
  #primary.nav.top-position ul.menu-items.active .menu-item a:hover { background-color: #405978; } }
#primary.nav.top-position .site-logo { display: block; width: 100%; height: 100%; background-image: url("../images/graphics/white-triangle.svg"); background-size: contain; background-repeat: no-repeat; background-position: 101% -10px; padding-bottom: 25%; }
#primary.nav.top-position .site-logo a.logo { display: block; min-height: 200px; max-height: 200px; width: 22%; background-image: url("../images/logo/logo.svg"); background-size: 100%; background-repeat: no-repeat; margin: 10px; margin-top: 2%; text-indent: -9000%; }
#primary.nav.top-position .site-logo a.logo.right { float: right; margin-right: .75em; }
@media screen and (max-width: 768px) { #primary.nav.top-position .site-logo a.logo.right { margin-right: .2em; } }
#primary.nav.top-position .site-logo a.logo.left { float: left; margin-left: .75em; }
@media screen and (max-width: 768px) { #primary.nav.top-position .site-logo a.logo.left { margin-left: .2em; } }

.ie #primary.nav.top-position .site-logo, .ie10 #primary.nav.top-position .site-logo { width: 35%; position: absolute; right: 0; height: 40%; background-image: none; }
.ie #primary.nav.top-position .site-logo a.logo, .ie10 #primary.nav.top-position .site-logo a.logo { width: 50%; margin-right: 40px; margin-top: -50px; }

.post-grid .post { display: block; float: left; width: 50%; padding: 1em; padding-left: 0; }
@media screen and (max-width: 768px) { .post-grid .post { width: 100%; } }
.post-grid .post:nth-child(even) { padding-right: 0; padding-left: 1em; }
@media screen and (max-width: 768px) { .post-grid .post { padding-right: 0; padding-left: 0; }
  .post-grid .post:nth-child(even) { padding-right: 0; padding-left: 0; } }
.post-grid .post .post-image { background-size: cover; background-position: center; background-repeat: no-repeat; display: block; float: left; width: 100%; height: 0; padding-bottom: 60%; -o-box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0); -webkit-box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0); -mozbox-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0); box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.post-grid .post:hover .post-image { -o-box-shadow: inset 0 0 0 4px #07013D; -webkit-box-shadow: inset 0 0 0 4px #07013D; -moz-box-shadow: inset 0 0 0 4px #07013D; box-shadow: inset 0 0 0 4px #07013D; }
.post-grid .post .post-details { width: 100%; float: left; min-height: 2.5em; margin-top: 3px; }
.post-grid .post .post-title { float: left; max-width: 49%; margin-right: 1%; }
@media screen and (max-width: 480px) { .post-grid .post .post-title { max-width: 100%; width: 100%; } }
.post-grid .post .post-title h4 { color: #767676; font-size: 1em; font-family: "Avenir-Medium", Avenir-Medium, helvetica, sans-serif; font-weight: 100; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.post-grid .post:hover .post-title h4 { color: #07013D; }
.post-grid .post .tag-list { max-width: 50%; text-align: right; float: right; font-size: .8em; min-height: 4em; }
@media screen and (max-width: 480px) { .post-grid .post .tag-list { max-width: 100%; width: 100%; float: left; text-align: left; margin-top: 3px; } }
.post-grid .post .tag-list .tag { display: inline-block; background: #eee; padding: 1px 6px; margin: 2px 1px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.post-grid .post .tag-list .tag a { color: #909090; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.post-grid .post .tag-list .tag:hover { background: #DFDFDF; }
.post-grid .post .tag-list .tag:hover a { color: #EEA500; }
.post-grid .post:hover .tag-list .tag a { color: #07013D; }
.post-grid.supplier-grid .post.supplier { display: block; float: left; width: 32%; margin-right: 1.5%; margin-bottom: 1.5%; padding: 1em; -webkit-box-shadow: 0 2px 2px 0 rgba(170, 170, 170, 0.14), 0 1px 5px 0 rgba(170, 170, 170, 0.12), 0 3px 1px -2px rgba(170, 170, 170, 0.2); -moz-box-shadow: 0 2px 2px 0 rgba(170, 170, 170, 0.14), 0 1px 5px 0 rgba(170, 170, 170, 0.12), 0 3px 1px -2px rgba(170, 170, 170, 0.2); -o-box-shadow: 0 2px 2px 0 rgba(170, 170, 170, 0.14), 0 1px 5px 0 rgba(170, 170, 170, 0.12), 0 3px 1px -2px rgba(170, 170, 170, 0.2); box-shadow: 0 2px 2px 0 rgba(170, 170, 170, 0.14), 0 1px 5px 0 rgba(170, 170, 170, 0.12), 0 3px 1px -2px rgba(170, 170, 170, 0.2); -webkit-transition: box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1); -moz-transition: box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1); transition: box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1); }
@media screen and (min-width: 768px) { .post-grid.supplier-grid .post.supplier:nth-child(3n) { margin-right: 0; } }
@media screen and (max-width: 768px) { .post-grid.supplier-grid .post.supplier { width: 49%; margin-right: 2%; }
  .post-grid.supplier-grid .post.supplier:nth-child(2n) { margin-right: 0; } }
@media screen and (max-width: 480px) { .post-grid.supplier-grid .post.supplier { width: 100%; margin-right: 0; } }
.post-grid.supplier-grid .post.supplier:hover { -webkit-box-shadow: 0 4px 5px 0 rgba(170, 170, 170, 0.14), 0 1px 10px 0 rgba(170, 170, 170, 0.12), 0 2px 4px -1px rgba(170, 170, 170, 0.4); -moz-box-shadow: 0 4px 5px 0 rgba(170, 170, 170, 0.14), 0 1px 10px 0 rgba(170, 170, 170, 0.12), 0 2px 4px -1px rgba(170, 170, 170, 0.4); -o-box-shadow: 0 4px 5px 0 rgba(170, 170, 170, 0.14), 0 1px 10px 0 rgba(170, 170, 170, 0.12), 0 2px 4px -1px rgba(170, 170, 170, 0.4); box-shadow: 0 4px 5px 0 rgba(170, 170, 170, 0.14), 0 1px 10px 0 rgba(170, 170, 170, 0.12), 0 2px 4px -1px rgba(170, 170, 170, 0.4); z-index: 3; }
.post-grid.supplier-grid .post.supplier:hover .post-image { -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; }
.post-grid.supplier-grid .post.supplier .post-image { background-size: contain; }
.post-grid.supplier-grid .post.supplier .tag-list { max-width: 100%; width: 100%; text-align: left; float: left; font-size: .8em; min-height: 4em; }
.post-grid.supplier-grid .post.supplier .post-title { float: left; max-width: 100%; width: 100%; margin-right: 0; }

.social-profile-banner { float: left; width: 100%; margin-top: 3em; text-align: center; display: block; background: #E0E1DD; padding: 2em; margin-bottom: 1.5em; }
@media screen and (max-width: 480px) { .social-profile-banner { padding: 1em 1em; } }
.social-profile-banner .profile-card { display: block; width: 50%; text-align: center; margin: 0 auto; float: none; padding: 1em; background-color: #E0E1DD; -webkit-box-shadow: 0 1px 1px 0 transparent ; -moz-box-shadow: 0 1px 1px 0 transparent ; -o-box-shadow: 0 1px 1px 0 transparent ; box-shadow: 0 1px 1px 0 transparent ; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.social-profile-banner .profile-card:hover { background-color: #fff; -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) ; -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) ; -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) ; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) ; }
.social-profile-banner .profile-card + .profile-card { margin-left: 10%; }
@media screen and (max-width: 768px) { .social-profile-banner .profile-card { width: 90%; margin-top: 2em; margin-left: auto; }
  .social-profile-banner .profile-card + .profile-card { margin-bottom: 2em; margin-left: 0; } }
.social-profile-banner .profile-card .profile-icon { width: 90%; display: block; text-align: center; vertical-align: middle; margin: 0 auto; }
.social-profile-banner .profile-card .profile-icon.pinterest { width: 20%; }
@media screen and (max-width: 768px) { .social-profile-banner .profile-card .profile-icon { display: block; width: 50%; margin: 0 auto; text-align: center; } }
.social-profile-banner .profile-card .profile-details { width: 65%; display: block; text-align: center; vertical-align: middle; line-height: 1.3; margin: 0 auto; }
.social-profile-banner .profile-card .profile-details h5 { color: #202020; }
.social-profile-banner .profile-card .profile-details .profile-url { color: #767676; }
@media screen and (max-width: 768px) { .social-profile-banner .profile-card .profile-details { display: block; text-align: center; width: 100%; padding: 1em 10%; } }

.section-break { position: relative; display: block; float: left; width: 100%; height: 250px; }
@media screen and (max-width: 480px) { .section-break { height: 200px; } }
.section-break.white { background-color: #fff; }
.section-break .title-area { position: absolute; bottom: 0; z-index: 2; display: block; width: 100%; height: 100%; padding-left: .75em; margin-bottom: -2px; background-image: url("../images/graphics/white-bottom-triangle.svg"); background-size: contain; background-repeat: no-repeat; background-position-y: bottom; background-position-x: -10px; height: 100%; }
.section-break .title-area.medium-blue { background-image: url("../images/graphics/medium-blue-bottom-triangle.svg"); }
.section-break .title-area.medium-blue .contents h2 { color: white; }
.section-break .title-area.medium-blue .contents .subtitle { color: #E0E1DD; }
.section-break .title-area.dark-blue { background-image: url("../images/graphics/dark-blue-bottom-triangle.svg"); }
.section-break .title-area.dark-blue .contents h2 { color: white; }
.section-break .title-area.dark-blue .contents .subtitle { color: #E0E1DD; }
@media screen and (max-width: 1024px) { .section-break .title-area { font-size: .9em; } }
@media screen and (max-width: 480px) { .section-break .title-area { font-size: .8em; } }
.section-break .title-area .contents { position: absolute; bottom: 0; max-width: 50%; }
@media screen and (orientation: portrait) { .section-break .title-area .contents { max-width: 45%; } }
@media screen and (max-width: 768px) { .section-break .title-area .contents { max-width: 45%; } }

.section-link-list { text-align: center; margin-top: 1.5em; margin-bottom: 3em; float: left; width: 100%; }
.section-link-list .section-link { float: left; border: 1px solid #fff; display: block; float: left; width: 28%; text-align: center; padding: 1em; background-color: #fff; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.section-link-list .section-link + .section-link { margin-left: 8%; }
@media screen and (max-width: 768px) { .section-link-list .section-link { width: 55%; margin: 2em auto 0; float: none; }
  .section-link-list .section-link + .section-link { margin-left: auto; } }
@media screen and (max-width: 480px) { .section-link-list .section-link { width: 100%; margin: 0 auto; } }
.section-link-list .section-link:hover { background-color: #E0E1DD; border: 1px solid #d2d2d2; }
.section-link-list .section-link:hover .link-image { -o-box-shadow: inset 0 0 0 4px #405978; -webkit-box-shadow: inset 0 0 0 4px #405978; -moz-box-shadow: inset 0 0 0 4px #405978; box-shadow: inset 0 0 0 4px #405978; }
.section-link-list .section-link:hover .link-title, .section-link-list .section-link:hover .description { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: #405978; }
.section-link-list .section-link .link-image { border-top-left-radius: 50%; border-top-right-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; border-bottom-left-radius: 50%; display: block; float: none; width: 100%; padding-bottom: 100%; margin: 0 auto; background-repeat: no-repeat; background-position: center; background-size: cover; -o-box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0); -webkit-box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0); -mozbox-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0); box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.section-link-list .section-link .description { color: #767676; }

.medium-blue-wrapper { background: #405978; padding: 1em; }

.dark-blue-wrapper { background: #07013D; padding: 1em; }

.medium-blue-wrapper h1, .medium-blue-wrapper h2, .medium-blue-wrapper h3, .medium-blue-wrapper h4, .medium-blue-wrapper h5, .medium-blue-wrapper h6, .dark-blue-wrapper h1, .dark-blue-wrapper h2, .dark-blue-wrapper h3, .dark-blue-wrapper h4, .dark-blue-wrapper h5, .dark-blue-wrapper h6 { color: white; }
.medium-blue-wrapper p, .medium-blue-wrapper .lead, .dark-blue-wrapper p, .dark-blue-wrapper .lead { color: #E0E1DD; }
.medium-blue-wrapper strong, .dark-blue-wrapper strong { color: #fff; }

/** 4.0 GRID ---------------------------------------------------------------------------- Most of the Grid setup happens in Neat (scss/thoughtbot/neat) but the actual grid styles are applied here */
.column, .columns { float: left; display: block; }

.large-11 { float: left; display: block; margin-right: 1.35446%; width: 91.5538%; }
.large-11:last-child { margin-right: 0; }

.large-10 { float: left; display: block; margin-right: 1.35446%; width: 83.10759%; }
.large-10:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-10 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-10:last-child { margin-right: 0; } }

.large-9 { float: left; display: block; margin-right: 1.35446%; width: 74.66139%; }
.large-9:last-child { margin-right: 0; }

.large-8 { float: left; display: block; margin-right: 1.35446%; width: 66.21518%; }
.large-8:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-8 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-8:last-child { margin-right: 0; } }

.large-7 { float: left; display: block; margin-right: 1.35446%; width: 57.76898%; }
.large-7:last-child { margin-right: 0; }

.large-6 { float: left; display: block; margin-right: 1.35446%; width: 49.32277%; }
.large-6:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-6 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-6:last-child { margin-right: 0; } }

.large-5 { float: left; display: block; margin-right: 1.35446%; width: 40.87657%; }
.large-5:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-5 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-5:last-child { margin-right: 0; } }

.large-4 { float: left; display: block; margin-right: 1.35446%; width: 32.43036%; }
.large-4:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-4 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-4:last-child { margin-right: 0; } }

.large-3 { float: left; display: block; margin-right: 1.35446%; width: 23.98416%; }
.large-3:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-3 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-3:last-child { margin-right: 0; } }

.large-2 { float: left; display: block; margin-right: 1.35446%; width: 15.53795%; }
.large-2:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-2 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-2:last-child { margin-right: 0; } }

.large-1 { float: left; display: block; margin-right: 1.35446%; width: 7.09175%; }
.large-1:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .large-1 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .large-1:last-child { margin-right: 0; } }

.medium-10 { float: left; display: block; margin-right: 1.35446%; width: 83.10759%; }
.medium-10:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-10 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-10:last-child { margin-right: 0; } }

.medium-9 { float: left; display: block; margin-right: 1.35446%; width: 74.66139%; }
.medium-9:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-9 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-9:last-child { margin-right: 0; } }

.medium-8 { float: left; display: block; margin-right: 1.35446%; width: 66.21518%; }
.medium-8:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-8 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-8:last-child { margin-right: 0; } }

.medium-7 { float: left; display: block; margin-right: 1.35446%; width: 57.76898%; }
.medium-7:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-7 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-7:last-child { margin-right: 0; } }

.medium-6 { float: left; display: block; margin-right: 1.35446%; width: 49.32277%; }
.medium-6:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-6 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-6:last-child { margin-right: 0; } }

.medium-5 { float: left; display: block; margin-right: 1.35446%; width: 40.87657%; }
.medium-5:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-5 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-5:last-child { margin-right: 0; } }

.medium-4 { float: left; display: block; margin-right: 1.35446%; width: 32.43036%; }
.medium-4:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-4 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-4:last-child { margin-right: 0; } }

.medium-3 { float: left; display: block; margin-right: 1.35446%; width: 23.98416%; }
.medium-3:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-3 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-3:last-child { margin-right: 0; } }

.medium-2 { float: left; display: block; margin-right: 1.35446%; width: 15.53795%; }
.medium-2:last-child { margin-right: 0; }
@media screen and (max-width: 768px) { .medium-2 { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .medium-2:last-child { margin-right: 0; } }

@media screen and (min-width: 1025px) { .shift-large { margin-left: 8.4462%; }
  .large-shift-2 { margin-left: 16.89241%; }
  .large-shift-3 { margin-left: 25.33861%; }
  .large-shift-4 { margin-left: 33.78482%; }
  .large-shift-5 { margin-left: 42.23102%; }
  .large-shift-6 { margin-left: 50.67723%; }
  .large-shift-7 { margin-left: 59.12343%; }
  .large-shift-8 { margin-left: 67.56964%; }
  .large-shift-9 { margin-left: 76.01584%; }
  .large-shift-10 { margin-left: 84.46205%; }
  .large-shift-11 { margin-left: 92.90825%; } }
@media screen and (max-width: 1024px) and (min-width: 1025px) { .shift-medium { margin-left: 8.4462%; } }

@media screen and (max-width: 1024px) { .medium-shift-2 { margin-left: 16.89241%; }
  .medium-shift-3 { margin-left: 25.33861%; }
  .medium-shift-4 { margin-left: 33.78482%; }
  .medium-shift-5 { margin-left: 42.23102%; }
  .medium-shift-6 { margin-left: 50.67723%; }
  .medium-shift-7 { margin-left: 59.12343%; }
  .medium-shift-8 { margin-left: 67.56964%; }
  .medium-shift-9 { margin-left: 76.01584%; }
  .medium-shift-10 { margin-left: 84.46205%; }
  .medium-shift-11 { margin-left: 92.90825%; } }
/** 4.5 Layout,Positioning & Visibility Classes ---------------------------------------------------------------------------- */
.flex-grid { list-style: none; margin: auto; padding: auto; display: -webkit-flex; display: flex; }
.flex-grid.center { -webkit-justify-content: center; justify-content: center; }
.flex-grid.flex-wrap { -webkit-flex-wrap: wrap; flex-wrap: wrap; }

.lte-ie9 .flex-grid { display: auto; }
.lte-ie9 .flex-grid > * { float: left; }

.clearfix:after { content: ""; display: table; clear: both; }

.assistive-text { display: none; }

.hide { display: none; }

@media screen and (max-width: 1024px) { .hide-for-tablet { display: none !important; } }

@media screen and (max-width: 768px) { .hide-for-medium { display: none !important; } }

@media screen and (max-width: 1024px) { .hide-for-mobile { display: none !important; } }

@media screen and (max-width: 480px) { .hide-for-small { display: none !important; } }

.relative { position: relative; }

.is-campaign-landing .hide-for-campaign-landing { display: none; }
.is-campaign-landing .hide-for-campaign-landing.active-tab { display: none; }

.show-for-campaign-landing { display: none; }

.is-campaign-landing .show-for-campaign-landing { display: initial; }

.show-for-medium-and-small { display: none !important; }
@media screen and (max-width: 768px) { .show-for-medium-and-small { display: block !important; } }

@media screen and (max-width: 768px) { .hide-for-medium-and-small { display: none !important; } }

.show-for-mobile-only { display: none !important; }
@media screen and (max-width: 1024px) { .show-for-mobile-only { display: block !important; } }

.show-for-small-only { display: none !important; }
@media screen and (max-width: 480px) { .show-for-small-only { display: block !important; } }

@media screen and (max-width: 480px) { .hide-for-small { display: none !important; } }

@media screen and (min-width: 480px) { .one-half { float: left; display: block; box-sizing: border-box; width: 50%; padding-right: 1em; } }

@media screen and (min-width: 1024px) { .two-column { -webkit-columns: 2; -moz-columns: 2; columns: 2; }
  .two-column li { break-inside: avoid-column; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; column-break-inside: avoid; -webkit-page-break-inside: avoid; -moz-page-break-inside: avoid; page-break-inside: avoid; } }

@media screen and (min-width: 1024px) { .three-column { -webkit-columns: 3; -moz-columns: 3; columns: 3; }
  .three-column li { break-inside: avoid-column; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; column-break-inside: avoid; -webkit-page-break-inside: avoid; -moz-page-break-inside: avoid; page-break-inside: avoid; } }

@media screen and (min-width: 1024px) { .four-column { -webkit-columns: 4; -moz-columns: 4; columns: 4; }
  .four-column li { break-inside: avoid-column; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; column-break-inside: avoid; -webkit-page-break-inside: avoid; -moz-page-break-inside: avoid; page-break-inside: avoid; } }

.margin-horizontal { margin: 0 2em; }

.margin-vertical { margin: 2em 0; }

.margin-top { margin-top: 3em; }

.margin-right { margin-right: 2em; }

.margin-bottom { margin-bottom: 3em; }

.margin-left { margin-left: 2em; }

.pad-horizontal { padding: 0 2em; }

.pad-vertical { padding: 2em 0; }

.pad-top { padding-top: 2em; }

.pad-right { padding-right: 2em; }

.pad-bottom { padding-bottom: 2em; }

.pad-left { padding-left: 2em; }

.alignleft { float: left; margin: 0 1em 1em 0; }

.alignright { float: right; margin: 0 0 1em 1em; }

.aligncenter { text-align: center; margin: 0 auto 1em; display: block; }
.aligncenter:after { content: ""; display: table; clear: both; }

.alignnone:after { content: ""; display: table; clear: both; }

.large-right { float: left; }
@media screen and (min-width: 1024px) { .large-right { float: right; } }

@media screen and (min-width: 1024px) { .outer.container > .description, .outer.container > .slide-content { padding: 0 8%; }
  .outer.container.center-text > p { padding: 0 8%; } }
/** 4.75 Content Container Base Position, Padding and Margin + hard-break-clearfix ---------------------------------------------------------------------------- */
.container.outer { max-width: 75em; margin-left: auto; margin-right: auto; }
.container.outer:after { content: ""; display: table; clear: both; }
@media screen and (max-width: 1240px) { .container.outer { padding-left: .75em; padding-right: .75em; } }
.container.main { width: 100%; float: left; }

.content { padding-top: 2em; padding-bottom: 3em; }
.content.with-sidebar .main { float: left; display: block; margin-right: 1.35446%; width: 74.66139%; }
.content.with-sidebar .main:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .content.with-sidebar .main { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .content.with-sidebar .main:last-child { margin-right: 0; } }
.content.with-sidebar .sidebar { float: left; display: block; margin-right: 1.35446%; width: 23.98416%; }
.content.with-sidebar .sidebar:last-child { margin-right: 0; }
@media screen and (max-width: 1024px) { .content.with-sidebar .sidebar { float: left; display: block; margin-right: 1.35446%; width: 100%; }
  .content.with-sidebar .sidebar:last-child { margin-right: 0; } }

.row { padding-bottom: 2em; float: left; width: 100%; }
.row:after { content: ""; display: table; clear: both; }

.hard-break-clear-both { clear: both; }

/** 5.0 Type - alignment and spacing utility classes ---------------------------------------------------------------------------- */
.center-text { text-align: center; }

@media screen and (max-width: 1024px) { .center-text-on-mobile { text-align: center; } }

@media screen and (min-width: 1024px) { .center-text-on-desktop { text-align: center; } }

.center-text-at-full-width { text-align: center; }

@media screen and (min-width: 1024px) { .large-6 .center-text-at-full-width { text-align: initial; } }
.left-text { text-align: left; }

.right-text { text-align: right; }

.lowercase { text-transform: none; }

.quote p:before { content: "\201c"; display: inline; }
.quote p:after { content: "\201d"; display: inline; }

strong { opacity: .95; }

.featured { list-style-type: none; }
.featured li { border-top: 1px solid #ccc; line-height: 2; }
.featured li:before { content: "\002022"; color: #333; margin: 0 0.5em; }
.featured li:last-child { border-bottom: 1px solid #ccc; margin-bottom: 1em; }

.disc { list-style-type: disc; margin: 0 0 1em 1.5em; }

.circle { list-style-type: circle; margin: 0 0 1em 1.5em; }

.square { list-style-type: square; margin: 0 0 1em 1.5em; }

.decimal { list-style-type: decimal; margin: 0 0 1em 1.5em; }

.lower-alpha { list-style-type: lower-alpha; margin: 0 0 1em 1.5em; }

.upper-alpha { list-style-type: upper-alpha; margin: 0 0 1em 1.5em; }

.lower-roman { list-style-type: lower-roman; margin: 0 0 1em 1.5em; }

.upper-roman { list-style-type: upper-roman; margin: 0 0 1em 1.5em; }
