.hoon-metabox label span {
  font-weight: normal;
  font-size: 12px;
  color: #999;
}
.hoon-metabox ul.metabox-tabs {
  display: none;
  margin-top: 12px;
  margin-bottom: 3px;
}
.hoon-metabox ul.metabox-tabs li {
  display: inline;
  padding: 5px;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.hoon-metabox ul.metabox-tabs li.active {
  border-style: solid solid none;
  border-width: 1px 1px 0;
  background-color: #fff;
  border-color: #dfdfdf;
}
.hoon-metabox ul.metabox-tabs li.active a {
  color: #333;
}
.hoon-metabox ul.metabox-tabs a {
  text-decoration: none;
}
.hoon-metabox .metabox-tabs-div ul {
  list-style: none;
}
.hoon-metabox .metabox-tabs-div ul div.tabs-panel {
  overflow: auto;
  padding: 0.5em 0.9em;
  border-style: solid;
  border-width: 1px;
}
.hoon-metabox .heading {
  padding-left: 10px;
}
.hoon-metabox .tab-content {
  overflow: auto;
  padding: 0.5em 0.9em;
  border-style: solid;
  border-width: 1px;
  background: #fff;
}
.hoon-metabox div.tab-content {
  border-color: #DFDFDF;
}

.hoon-metabox .colorpicker-example {
	z-index: 1;
	position: absolute;
	margin-top: 5px;
	right: 58px;
	display: inline-block;
	width: 16px;
	height: 16px;
	//border: 1px solid #DFDFDF;
	background: white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}